.card__description {
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 18px 0 21px;
  justify-content: space-between;
  align-items: center;
}
